<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/premierepage.css') }}">
    <title>Document</title>
</head>



{% block body %}
   
<img class="logo" src="{{ asset('/assets/css/Horizon_Pictogramme_VERT.png') }}" alt="Mon Image">

<a href="{{path('app_main')}}"> <h1> Apprentissage des instruments de chirurgie. </h1> </a>


{% endblock %} 
