<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    >
    <title>Document</title>
</head>
<body>

    <h4> Vous n'avez pas de compte ? </h4> <a href=""> Créer un compte</a>
<a href=" "></a>

<img src="{{ asset('assets/css/6.png') }}" alt="">
<div class="instruments"> 

    <img src="" alt="">

    <li class="hémo"> </li>
    <li class="ciseaux"> </li>
    <li class="p-a"> </li>
<img src="" alt="">
    <a href=""></a>

</div>

<div class="blanc">

</div>
</body>
</html>