<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/apprentissage.css') }}">
    <title>Document</title>
</head>

{% block body %}


<div class="blanc">
<img class="apprentissages" src="/assets/css/pexels-klaus-nielsen-6303609.jpg" alt="">
<h1 class="bienvenue"> Apprentissages </h1>
<p> Apprenez toutes les informations nécessaires sur la stérilisation et les intrusments chirurgicaux </p>

<a href="{{path('app_home_page')}}"> C'EST COMPRIS ! </a>

</div>

{% endblock %}
